html {
  font-size: 10px;
}

body {
  font-size: var(--el-font-size-medium);
  background-color: var(--el-bg-color-page);
}

/* Vue transition  */
.slide-left-enter-from {
  opacity: 0;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.24s linear;
}

.slide-left-leave-to {
  opacity: 0;
  -webkit-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

/* Custom Element plus css */
.el-button {
  font-size: var(--el-font-size-medium) !important;
}